@model CommentEditViewModel

<h2>Промени коментара</h2>

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="alert-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProjectId"></label>
        <select asp-for="ProjectId" asp-items="Model.Projects" class="form-control"></select>
        <span asp-validation-for="ProjectId" class="alert-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Запазете промените</button>
</form>
