@{
    ViewData["Title"] = "Page Not Found";
}

<h1 class="text-danger">404 - Страницата не беше намерена : (</h1>
<p class="text-danger">Страницата, която търсите, може да е премахната, името й да е променено или временно да е недостъпна.</p>