@{
    ViewData["Title"] = "Internal Server Error";
}

<h1 class="text-danger">500 - Грешка в сървъра</h1>
<p class="text-danger">Възникна грешка при обработката на вашата заявка. Моля, опитайте отново по-късно.</p>
