@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Грешка : (</h1>
<p class="text-danger">Възникна грешка при обработка на проекта ви.</p>
@* <p> *@
@*     <strong>Request ID:</strong> @Model.RequestId *@
@* </p> *@
