@model Portfolio.Models.ProjectCreateViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="alert-danger"></span>

        <label asp-for="ShortDescription"></label>
        <input asp-for="ShortDescription" class="form-control">
        <span asp-validation-for="ShortDescription" class="alert-danger"></span>

        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="alert-danger"></span>

        <label asp-for="Image"></label><br>
        <input asp-for="Image" type="file" class="form-control"><br>
        <span asp-validation-for="Image" class="alert-danger"></span><br>

        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="alert-danger"></span>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>